{% extends "header_footer.html" %}
{% block userinfo %}
<!--https://www.shutterstock.com/image-photo/variety-dried-fruits-nuts-sale-preobrajenskiy-1029196282-->
<!--https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.anmoldryfruits.com%2F&psig=AOvVaw0Q-Km-nzWIpoyaZuDdJVYr&ust=1723634742423000&source=images&cd=vfe&opi=89978449&ved=0CBcQjhxqFwoTCOCWhYXu8YcDFQAAAAAdAAAAABAk-->
<!--https://www.shutterstock.com/image-photo/dried-fruit-stor-istanbul-grand-bazaar-1395078059-->
<style>
    .text
    {
        line-height: 1.3;
        width:70%;

    }
    .main_body
{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin:150px 0px
}
         @media only screen and (max-width: 1010px)
    {
                .main_body
                {
                display: flex;
                flex-direction: column;
                align-items: center;

                text-align: center;
                margin:200px 0px
                }
    }
</style>

<div class="main_body">
            <p class="text">
            Kafla Trading L.L.C is one of the leading importer, exporter, wholesaler and retailer of  superior quality Nuts, Dried Fruits, Spices, Pulses, Coffee, Tea and many more in the UAE, Middle East region and International markets.
            As a leading wholesale supplier in UAE, we deal with top producers around the globe and bring a wide range of quality food products at a reasonable price. We assist our customers to Increase their sales margins by offering them the best price in the market.
            </p>
            <p class="text">

            Our most modern Logistics and Storage facilities take care of our imported products and it provides the best quality products to our local and international customers through out the year.


            </p>

     <img    style="padding-left:10px;margin-top:20px;" src="{{ request.scheme }}://{{ request.get_host }}//media//about_images/image1.jpg"/>
    <div>
          <img  height="200px"  style="padding-left:10px;margin-top:20px;" src="{{ request.scheme }}://{{ request.get_host }}//media//about_images/image3.jpg"/>
     <img  height="200px"  style="padding-left:10px;margin-top:20px;" src="{{ request.scheme }}://{{ request.get_host }}//media//about_images/image2.jpg"/>
    </div>
     <a name="contact_us"></a>
</div>

{% endblock %}