{% extends "header_footer.html" %}
{% block userinfo %}
<style>

        .home_images{
            width:100%;display: flex;
            padding-bottom:40px ;
            justify-content: center;
        }

        .slides{
            margin-top:10px;
            display:none;
            width: 650px;
            object-fit: cover;
        }
        .fade {
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

        .prev, .next {
            width: auto;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        .banner
        {
            display: flex;
            flex-direction: row;
            margin-top:120px;
            align-items: center;
            padding: 0px 100px;
            justify-content: space-between;
        }

       #content
       {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    @media  (any-pointer: coarse)
    {



<!--            .home_images{-->
<!--                width:100%;-->
<!--                display: flex;-->
<!--                padding-bottom:40px ;-->
<!--                flex-direction: column;-->
<!--                align-items: center;-->
<!--                justify-content: center;-->
<!--                align-items: stretch;-->
<!--                width:auto;-->
<!--            }-->
    }

        .data_content{
            color: black;
            font-weight: 100;
            font-size: 15px;
            width:70%;
            line-height: 1.2;
            margin-bottom:30px;
        }


        @media only screen and (max-width: 1010px)
        {

        .data_content{
            color: black;
            font-weight: 100;
            font-size: 15px;
            width:70%;
            line-height: 1.2;
            margin-bottom:30px;

        }

        .banner
        {
            display: flex;
            flex-direction: row;
            margin-top:200px;
            align-items: center;
            padding: 0px 100px;
            justify-content: space-between;
        }
    }
</style>
<div>


<div class="banner">
         <a class="prev" onclick="plusSlides(-1)">❮</a>
          <div onclick="location.href='{% url 'products' %}#brand_products'" style="cursor: pointer;">




                             <img height="200px" class="slides fade"
                       src="{{ request.scheme }}://{{ request.get_host }}//media//product_page_images/banner_images/banner_image1.jpeg"/>


                                    <img height="200px" class="slides fade"
                       src="{{ request.scheme }}://{{ request.get_host }}//media//product_page_images/banner_images/banner_image2.png"/>



                                    <img height="200px" class="slides fade"
                       src="{{ request.scheme }}://{{ request.get_host }}//media//product_page_images/banner_images/banner_image3.png"/>

                                    <img height="200px" class="slides fade"
                       src="{{ request.scheme }}://{{ request.get_host }}//media//product_page_images/banner_images/banner_image4.png"/>


                                      <img height="200px" class="slides fade"
                       src="{{ request.scheme }}://{{ request.get_host }}//media//product_page_images/banner_images/banner_image5.png"/>
          </div>
<a class="next" onclick="plusSlides(1)">❯</a>


</div>



    <div style="text-align:center;display: flex;
                 flex-direction: column;
                 align-items: center;
        align-items: flex-start;
">
        <div id="content">
            <div style="    width: 60%;">
                 <h2 style="    color: #603c18;
    font-family: sans-serif;font-size: 30px;text-align: center;
        margin:13px;">Kafla Trading LLC</h2>
             <p style="color: gray;font-weight: 100;font-size: 18px;    width: 100%;font-family: sans-serif;
    color: #493623c7;">
         Kafla Trading L.L.C stands as a premier importer, exporter, wholesaler, and retailer of high-quality nuts, dried fruits, spices, pulses, coffee, tea and more in the UAE, Middle East, and global markets.         </p>


            </div>

        <p class="data_content" style="font-family: sans-serif;
    color: #241505;">


As a top wholesale supplier in the UAE, we collaborate with leading global producers to offer a diverse range of quality food products at competitive prices. We assure our customers with the best market rates.

Our state-of-the-art logistics and storage facilities ensure the optimal handling of imported goods, delivering top-notch products to both local and international clients throughout the year.

        </div>






         <p style="
           color: #603c18;
    font-family:sans-serif;

    height: 60px;
    display: flex;
    align-items: center;
cursor: pointer;
    width:100%;
    font-size:20px;
        margin: 0px;
    justify-content: center;" onclick="location.href='{% url 'products' %}'" >
          Our Premium Products
         </p>

<div class="home_images" onclick="location.href='{% url 'products' %}'" style="cursor: pointer;">

       <img height="700px"  style="padding:2px;    width: 100%;
    object-fit: cover;"
                       src="{{ request.scheme }}://{{ request.get_host }}/media/home_page_images/dry_fruits_collection3.jpg"/>

</div>

</div>
    </div>
<script>
    let slideIndex = 0;
    showSlides(slideIndex)
    function plusSlides(n) {
      showSlides( n);
    }


    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("slides");

      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
        console.log(n)
      if(n!=null)
      {
          slideIndex+=n
          if(slideIndex<=0)
            slideIndex=1;
      }
      else
      {
          slideIndex++;


      }
      if (slideIndex > slides.length) {slideIndex = 1}
      slides[slideIndex-1].style.display = "block";
            if(n==null||n==0)
            {
            console.log("ddd")
            setTimeout(showSlides, 5000); // Change image every 2 seconds
            }

    }
</script>
{% endblock %}   